body {
    background-color: rgb(234, 180, 209);
    text-align: center;
    font-family:'Times New Roman', Times, serif
  }

  h1 {
    text-align: center;
  }

  label {
    font-size: 20px;
  }

  div {
    padding-bottom: 20px;
  }

  .msgBox {
    text-align: center;
  }

  .msgBox p {
    line-height: 1.5;
    padding: 10px 20px;
    color: #333;
    padding-left: 82px;
    background-position: 25px center;
    background-repeat: no-repeat;
  }