body {
    background-color: rgb(231, 167, 201);
    text-align: center;
    font-family:'Times New Roman', Times, serif
  }

  h1 {
    text-align: center;
  }

  label {
    font-size: 20px;
  }

  div {
    padding-bottom: 20px;
  }

  .msgBox {
    position: relative;
    text-align: center;
    align-content: center;
    top: 50%;
    left: 50%;
    width: 242px;
    border-radius: 5px;
    background-color: #eee;
  }
